#select_box {
	min-width: 100px;
	width: 10%;
}

#half_box {
	width: 50%;
}

#max_box {
	width: 100%;
}

body {
    background: #DFDFDF;
	font-family:Monospace;
	cursor:default;
}

div.main {
	width: 79%;
	height: 79%;
	margin-left: auto;
	margin-right: auto;
}

div.style {
	background-color: #CCC;
	width: 100% - 8px;
	padding: 4px 7px;
	border-radius: 5px;
}

table {
	border-style:hidden;
	border-collapse: collapse;
	word-wrap:break-word;
}

tr{
	transition-duration: 0.2s;
}

tr:hover{
	background-color: #CCC;
}

td {
	border-style:hidden;
	padding: 8px;
	vertical-align: middle;
}

td.delete:hover {
	background-color: #C00;
}

input,select,button {
	font-family:Monospace;
	font-size:12px;
	transition-property: transform;
	transition-duration: 0.3s;
	cursor:pointer;
}

input.logo {
	height: 30px;
	font-size:14px;
	font-weight:bold;
	width: 150px;
}

input.link {
	height: 30px;
	width: 100px;
}

input.logo:hover,input.link:hover {
	transform: scale(1.5) rotate(4deg);
}

button.small {
	width: 15px;
	height: 15px;
	margin: 0px;
	padding: 0px;
	text-align: center;
	font-size: 10px;
	color: black;
	background-color: white;
	border: 1px solid gray;
	border-radius: 3px;
}

button#black {
	color: black;
	background-color: black;
	border: 1px solid gray;
	border-radius: 3px;
}

button#red {
	color: red;
	background-color: red;
	border: 1px solid gray;
	border-radius: 3px;
}

button#green {
	color: green;
	background-color: green;
	border: 1px solid gray;
	border-radius: 3px;
}

button#blue {
	color: blue;
	background-color: blue;
	border: 1px solid gray;
	border-radius: 3px;
}

[type="text"] {
	font-family:Monospace;
	font-size:12px;
	cursor:text;
}

a {
	font-weight:bold;
	color:black;
	cursor:pointer;
}

a:hover {
	color:gray;
}

textarea { width: 100%; height: 50%; padding: 4px; }

@-webkit-keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}

@keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}

.hvr-buzz {
  
  display: inline-block;
    padding: 5px;
    background-color: #F53D3D;
    text-decoration: none;
    color: white;
  border-radius:5px;

  
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-buzz:hover, .hvr-buzz:focus, .hvr-buzz:active {
  color: white;
  -webkit-animation-name: hvr-buzz;
  animation-name: hvr-buzz;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

