<html>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
<head>
<title>rst2html - Home</title>
</head>
<body>
<div class="main">
<h3>
<form action="{% url 'mainconv:filelist' %}" method="post">
{% csrf_token %}
	<input type="submit" value="rst2html" formaction="{% url 'mainconv:home' %}" class="logo">
	<input type="submit" value="home" formaction="{% url 'mainconv:home' %}" class="link">
	<input type="submit" value="editor" formaction="{% url 'mainconv:editor' %}" class="link">
	<input type="submit" value="filelist" class="link">
</form>
</h3>
<form action="{% url 'mainconv:rst2html' %}" method="post" enctype="multipart/form-data">
{% csrf_token %}
	Input RST file : <input type="file" name="uploadedFile" accept=".rst" required></br>
	Output name : <input type="text" name="name" pattern="[A-Za-z]+" required>
	Style : <select name="style"  id="select_box">
		<option value="basic">basic</option>
		<option value="deck">deck</option>
		<option value="bootstrap">bootstrap</option>
	</select></br>
	<input type="submit" value="Submit">
</form>
</div>
</body>
</html>
