<html>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
<head>
<title>rst2html - File list</title>
<script src="{% static 'angular.min.js' %}"></script>
<script>
var app = angular.module("myApp", []);
app.controller("myCtrl", function($scope) {
	{% if filelist %}
	$scope.filelist = [
	{% for file in filelist %}{"name":"{{ file }}"},
	{% endfor %}]
	{% endif %}
});
</script>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
<div class="main">
<h3>
<form action="{% url 'mainconv:filelist' %}" method="post">
{% csrf_token %}
	<input type="submit" value="rst2html" formaction="{% url 'mainconv:home' %}" class="logo">
	<input type="submit" value="home" formaction="{% url 'mainconv:home' %}" class="link">
	<input type="submit" value="editor" formaction="{% url 'mainconv:editor' %}" class="link">
	<input type="submit" value="filelist" class="link">
</form>
</h3>
	{% if filelist %}
	Search: <input type="text" ng-model="search">
	<table width=100% border="1" id="table">
		<tr ng-repeat="file in filelist | filter:search">
			<td><a href="/show/{%verbatim%}{{ file.name }}{%endverbatim%}"><span ng-bind="file.name"></span></a></td>
			<td width=20% align="right"><a href="/delete/{%verbatim%}{{ file.name }}{%endverbatim%}" class="hvr-buzz">delete</a></td>
		</tr>
	</table>
	{% else %}
		<p>No file available.</p>
	{% endif %}
</br>
</div>
</body>
</html>
