<html>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
<head>
<title>rst2html - Image preview</title>
</head>
<body>
<div class="main">
<img src="{{img}}"></br>
<b>url : <i>{{img}}</i></b>
</div>
</body>
</html>
