<html>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
<head>
<title>rst2html - Upload image</title>
<script>
function get_name(){
	document.getElementById('name').value = document.getElementById('file').value;
}
</script>
</head>
<body>
<div class="main">
<form action="{% url 'mainconv:upload_img' %}" method="post" enctype="multipart/form-data">
{% csrf_token %}
	Image file : <input id="file" type="file" name="uploadedFile" accept="image/*" onchange="get_name()" required></br>
	Image name : <input id="name" type="text" name="name" required>
	<input type="submit" value="Submit">
</form>
</div>
</body>
</html>
